<button class="btn btn-xs btn-primary pull-right" (click)="modal.show()">New Category</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image Url</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories | async">
      <td>{{category.name}}</td>
      <td style="width:10%;height:100px;"><img [src]="category.iconUrl" style="height:100%; width:100%"/></td>
      <td>
        <span class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit</span>
        <span class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash" (click)="deleteCategory(category.$key)"></i>&nbsp;Delete</span>
      </td>
    </tr>
  </tbody>
</table>

<!-- Create new category modal START  -->
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add New Category</h4>
      </div>
      <div class="modal-body">
          <input type="file" [(ngModel)]="categoryImg" class="form-control" name="categoryImg" (change)="getImage($event)"/>&nbsp;
          <input type="text" class="form-control" [(ngModel)]="categoryName" placeholder="Category Name"/> &nbsp;
          <button class="btn btn-block btn-primary" (click)="addNewCategory()">Add</button>
      </div>
    </div>
  </div>
</div>
<!-- Create new category modal END -->