<button class="btn btn-xs btn-primary pull-right" (click)="modal.show()">New Challange</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Question</th>
            <th>Options</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let challenge of challenges | async">
            <td>{{challenge.category}}</td>
            <td>{{challenge.question}}</td>
            <td>{{challenge.option1}}, {{challenge.option2}}, {{challenge.option3}}, {{challenge.option4}}</td>
            <td><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-trash"></i></td>
        </tr>
    </tbody>
</table>


<!-- Create new challange modal START  -->
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add New Challenge</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" (submit)="doLogin()">
            <div class="form-group">
                <label class="col-sm-2 control-label">Category</label>
                <div class="col-sm-10">
                    <select name="category" [(ngModel)]="challenge.category" class="form-control">
                        <option *ngFor="let cat of categories | async" [ngValue]="cat.name">{{cat.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Question</label>
                <div class="col-sm-10">
                    <input type="text" [(ngModel)]="challenge.question" class="form-control" name="question" placeholder="Question">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Option1</label>
                <div class="col-sm-10">
                    <input type="text" [(ngModel)]="challenge.option1" class="form-control" name="option1" placeholder="Option1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Option2</label>
                <div class="col-sm-10">
                    <input type="text" [(ngModel)]="challenge.option2" class="form-control" name="option2" placeholder="Option2">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Option3</label>
                <div class="col-sm-10">
                    <input type="text" [(ngModel)]="challenge.option3" class="form-control" name="option3" placeholder="Option3">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Option4</label>
                <div class="col-sm-10">
                    <input type="text" [(ngModel)]="challenge.option4" class="form-control" name="password" placeholder="Option4">
                </div>
            </div>
        </form>
        <button class="btn btn-md btn-block btn-primary" (click)="createChallange()">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- Create new challange modal END -->